body {
    background-image: url('https://c.wallhere.com/photos/4d/87/selective_coloring_black_background_dark_background_simple_background_anime_girls-2130701.jpg!d');
    background-repeat: no-repeat;
    background-size: 210vh;
    color: white;
    image-resolution: 180px;
  }p { 
    color: white;
  }